/* Body Styling */
body{
    background: #172D13;
}

h1{
    color: #EBECE9;
    font-family: 'Paytone One';
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}

a.nav-brand{
    font-family: 'Paytone One';
    font-size: 2.0rem;
    font-weight: bold;
    color: #EBECE9;
    text-align: left;
}

a.nav-brand:hover{
    color: #D76F30;
}

.navbar-item{
    padding: 0 18px;
}

.navbar-link{
    color: #EBECE9;
    font-family: 'Paytone One';
    font-size: 1.2rem;
}

.navbar-link:hover{
    color: #D76F30;
}

/* Buttons */
.download-button-left{
    margin: 5% 3% 5% 0%;
}

.download-button-right{
    margin: 5% 0% 5% 0%;
}

/* title image */
.title-image{
    width: 60%;
    transform: rotate(20deg);
    z-index: 5;
    position: absolute;
}

/*Features Section*/
#features{
    padding: 7% 15%;
    background-color: #fff;
    z-index: 10;
    position:relative;
}

.feature-box{
    text-align:center;
    padding: 5%;
}

.icon{
    color:#dda0dd;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #9370db;
}

/*testimonials*/
#testimonials{
    text-align: center;
    background-color: #9370db;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/*Pricing*/
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-header{
    color:#000;
}

.pricing-column{
    padding: 3% 2%;
}

/*footer section*/
#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

/*media querys*/
@media (min-width:992){
    nav.hiding{
        display:none;
    }
}
@media (max-width:991){
    div.hide{
        display:none;
    }
    .title-image{
        position:static;
        transform: rotate(0);
    }
}