/* COGS3 studyBuddy specific styles go here. */
#title {
    background-color: #172D13;
}

.container-fluid{
    padding: 1% 12%;
}

h1{
    font-family: 'Paytone One';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #EBECE9;
}

h2{
    color: #172D13;
    font-family: 'Paytone One';
    font-weight: bold;
    font-size: 2.5rem;
}

h3{
    font-family: 'Paytone One';
    font-weight: bold;
    color:#0F2E0F;
}

#features p{
    color:#D76F30;
    font-family: 'Poppins';
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-toggler{
    border-color:#EBECE9;
    background-color:#EBECE9;
}

a.navbar-brand{
    font-family: 'Paytone One';
    font-size: 2.0rem;
    font-weight: bold;
}

a.navbar-brand:hover{
    color:#D76F30;
}

.navbar-item{
    padding: 0 18px;
    text-align: right;
}

.navbar-link{
    font-family: 'Poppins';
    font-size: 1.2rem;
    color:#EBECE9;
    font-weight:bold;
    letter-spacing: 3.1px;
}

.navbar-link:hover{
    color:#D76F30;
}

.lato-font{
    font-family: 'Poppins';
    font-weight: bold;
}

/* Buttons */
.download-button-left{
    margin: 5% 3% 5% 0%;
    background-color:#D76F30;
    color:#EBECE9;
}

.download-button-left:hover{
    background-color:#EBECE9;
    color:#D76F30;
}

.download-button-right{
    margin: 5% 0% 5% 0%;
    border-color:#D76F30;
    color:#D76F30;
}

.download-button-right:hover{
    background-color:#EBECE9;
    color:#D76F30;
}

/* title image */
.title-image{
    width: 90%;
    transform: rotate(10deg);
    z-index: 5;
    position: absolute;
}

/*Features Section*/
#features{
    padding: 7% 15%;
    background-color: #EBECE9;
    z-index: 10;
    position:relative;
}

.feature-box{
    text-align:center;
    padding: 5%;
}

.icon{
    color:#D76F30;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #172D13;
}

/*testimonials*/
#testimonials{
    text-align: center;
    background-color: #4db872;
}

.carousel-item{
    padding: 7% 15%;
}

.carousel-test{
    font-family: 'Poppins';
    font-weight: bold;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/*press*/
#press{
    background-color: #4db872;
    text-align: center;
}

.press-image{
    width: 10%;
    margin: 20px 20px 50px;
}

/*call to action*/
#cta{
    background-color: #172D13;
    color: #EBECE9;
    padding: 7% 10%;
    text-align: left;
}

.cta-header{
    font-family: 'Poppins';
    font-size: 24px;
    color:#EBECE9;
    font-weight:bold;
    letter-spacing: 3.1px;
    text-size-adjust:100%;
}

.cta-text{
    font-family: 'Poppins';
    font-size: 15px;
    color:#EBECE9;
    font-weight:200;
    text-size-adjust:100%;
}

.cta-title-text{
    font-family: 'Paytone One';
    font-size: 20px;
    color:#EBECE9;
    font-weight:200;
    text-size-adjust:100%;
}

/*footer section*/
#footer{
    padding: 7% 15%;
    text-align: center;
}

#footer a{
    margin: 20px 10px;
}

/*media querys*/
@media (max-width:1028px){
    .title-image{
        position:static;
        transform: rotate(0);
    }
}

@media (max-width:991px){
    #title{
        text-align:center;
    }
    .title-image{
        width: 60%;
    }
    .navbar-item{
        padding: 2px 0;
    }
}

@media (max-width:855px){
    #testimonials h2{
        font-size:200%;
    }
}

@media (max-width:684px){
    #testimonials h2{
        font-size:150%;
    }
}

@media (max-width:576px){
    #testimonials em{
        font-size:12px;
    }
    #press img{
        width:40px;
    }
    .carousel-item{
        padding: 7%, 15%, 2% 15%;
    }
    #testimonials img{
        width:40px;
    }
}

@media (max-width:457px){
    #testimonials h2{
        font-size:100%;
    }
    #testimonials img{
        width:30px;
        margin: 10px;
    }
    #testimonials em{
        font-size:10px;
    }
}